.dndflow {
  flex-direction: row;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

.fa-node-card-container {
  //padding: 12px;
}

.fa-node-card-container:hover {
  //.react-flow__handle {
  //  display: block;
  //}
}

.fa-node-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px #1f23291f;
  border: 2px solid #FFF;
  cursor: pointer;

  //.react-flow__handle {
  //  display: none;
  //}
}

.fa-node-card-sel {
  border: 2px solid var(--primary-color);

  //.react-flow__handle {
  //  display: block;
  //}
}

.fa-ai-node-label {
  padding-left: 12px;
  margin-bottom: 8px;
  position: relative;
}

.fa-ai-node-label:before {
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 80%;
  content: "";
  background: var(--primary-color);
}

.fa-ai-node-item {
  padding: 8px 12px;
  background: #f5f6f7;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 14px;

  .fa-ai-node-item-btn {
    display: none;
    position: absolute;
    right: 4px;
  }
}

.fa-ai-node-item:hover {
  .fa-ai-node-item-btn {
    display: block;
  }
}

.fa-node-card {
  .fa-ai-node-item:last-child {
    margin-bottom: 0;
  }
}



/*@media screen and (min-width: 768px) {*/
/*  .dndflow {*/
/*    flex-direction: row;*/
/*  }*/

/*  .dndflow aside {*/
/*    width: 20%;*/
/*    max-width: 250px;*/
/*  }*/
/*}*/
